RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxxx
ORDER_EMAIL_TO=minispanosotros@gmail.com
ORDER_EMAIL_FROM="PA Nosotros <onboarding@resend.dev>"
ZAVUDEV_API_KEY=zv_live_xxxxxxxxxxxxxxxxx
OWNER_WHATSAPP=+5492215383928
